.postTitle {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}

.postBody {
  border-radius: 20px;
  background-color: #666;
  padding: 10px;
}

.reactionsNavContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.detailsBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #666;
  color: rgb(216, 213, 212);
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.2s;
}

.detailsBtn:hover {
  background: #eee;
}
