@import "styles/fonts.css";

/* Основные стили */
body {
    background-color: rgb(45, 45, 45);
    color: rgb(216, 213, 212);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

/* Контейнер для фильтров и постов */
.mainContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
}

/* Фильтры */
.filtersContainer {
    position: sticky;
    top: 20px;
    flex: 0 0 auto;
    width: 250px;
    z-index: 10;
}

.filtersDropdown {
    position: relative;
}

.dropdownToggle {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    background-color: #4d4d4d;
    color: rgb(216, 213, 212);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.dropdownToggle:hover {
    background-color: #666;
}

.dropdownContent {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #4d4d4d;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 20;
    margin-top: 20px;
}

.tagsList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tagItem {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #666;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(216, 213, 212);
}

.tagItem.selected {
    background-color: rgb(252, 74, 88);
}

.removeIcon {
    margin-left: auto;
    cursor: pointer;
}

.resetButton {
    padding: 8px 12px;
    background-color: rgb(252, 74, 88);
    color: rgb(216, 213, 212);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.resetButton:hover {
    background-color: #ff4757;
}

/* Посты */
.postsContainer {
    flex: 1;
}

.postList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    border-radius: 20px;
    background-color: #4d4d4d;
    color: rgb(216, 213, 212);
    padding: 20px;
    margin: 30px 100px 10px 0px;
}

.postTitle {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
}

.postBody {
    border-radius: 20px;
    background-color: #666;
    padding: 10px;
}

.reactionsNavContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.reactions {
    display: flex;
    gap: 15px;
}

.reactionBtn {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.reactionBtn:hover {
    background: #eee;
}

.reactionBtn.active {
    color: rgb(252, 74, 88);
    background: #666;
}

.reactionBtn.active .icon {
    color: rgb(252, 74, 88);
}

.detailsBtn {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #666;
    color: rgb(216, 213, 212);
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.2s;
}

.detailsBtn:hover {
    background: #eee;
}

.noResults {
    color: rgb(216, 213, 212);
    font-size: 18px;
    margin-top: 20px;
}

/*body {*/
/*    background-color: rgb(45, 45, 45);*/
/*    color: rgb(216, 213, 212);*/
/*    font-family: "Roboto", sans-serif;*/
/*    font-size: 18px;*/
/*}*/

.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-container h2 {
    margin-bottom: 20px;
}

.auth-container input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.auth-container button {
    width: 100%;
    padding: 10px;
    background-color: #666;
    color: rgb(216, 213, 212);;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

/*!*.filtersContainer {*!*/

/*!*}*!*/


/*!*.tags {*!*/
/*!*    margin: 0 5px 0 5px;*!*/
/*!*    display: flex;*!*/
/*!*    flex-wrap: wrap;*!*/
/*!*    justify-content: center;*!*/
/*!*    align-items: center;*!*/
/*!*    border-radius: 20px;*!*/
/*!*    border: 5px solid #4d4d4d;*!*/
/*!*    background-color: #4d4d4d;*!*/
/*!*}*!*/

/*!*.tagsFilters {*!*/
/*!*    margin: 30px 5px;*!*/
/*!*    display: flex;*!*/
/*!*    flex-wrap: wrap;*!*/
/*!*    justify-content: center;*!*/
/*!*    align-items: center;*!*/
/*!*    margin-bottom: 30px;*!*/
/*!*}*!*/

/*.postList {*/


/*}*/

.postAndComms {
    border-radius: 20px;
    background-color: #4d4d4d;
    color: rgb(216, 213, 212);
    padding: 20px;
    margin: 30px 100px;
}

/*.postTitle {*/
/*    margin-bottom: 10px;*/
/*    font-weight: bold;*/
/*    font-size: 24px;*/
/*}*/

/*.postBody {*/
/*    border-radius: 20px;*/
/*    background-color: #666;*/
/*    padding: 10px;*/
/*}*/

/*.reactionsNavContainer {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-top: 10px;*/
/*}*/

.comments {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}



.commentItem {
    position: relative;
    border-radius: 20px;
    background-color: #666;
    padding: 10px;
    margin-bottom: 5px;
    width: fit-content;
    transition: background 0.2s;
    min-height: 40px;
}

.commentItem:hover {
    background: #eee;
}

.deleteBtn {
    display: none;
    position: relative;
    background: none;
    border: none;
    color: rgb(252, 74, 88);
    cursor: pointer;
    font-size: 16px;
    padding: 2px 5px;
    transition: opacity 0.2s;
}

.commentItem:hover .deleteBtn {
    display: inline-block;
}

.commentContent {
    position: relative;
    display: inline-block;
}


.sendComments {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.commentInput {
    border-radius: 20px;
    background-color: #666;
    padding: 10px;
    width: 100%;
}

.buttonComms {
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 20px;
    background-color: rgb(45, 45, 45);
    padding: 10px;
}

.buttonComms:hover {
    background-color: #666;
}

.appHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    gap: 20px;
    border-bottom: 1px solid #666;
}

.logo {
    width: 120px;
    height: auto;
    margin-right: auto;
}

.textLogo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 52px;
    font-weight: bold;
    font-family: "Vollkorn", serif;
    margin: 0;
    white-space: nowrap;
    letter-spacing: 5px;
}

.navBar {
    margin-left: auto;
}

.navItems {
    display: flex;
    gap: 1rem;
}

.navLink {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: rgb(216, 213, 212);
    border-radius: 20px;
    transition: background-color 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.navLink:hover {
    background-color: #e9ecef;
    color: #666;
}

.navButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding: 0.5rem 1rem;
    background: none;
    border: 1px solid rgb(252, 74, 88);
    color: rgb(252, 74, 88);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.navButton:hover {
    background-color: rgb(252, 74, 88);
    color: white;
}

.analyticsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.chart {
    justify-content: center;
    width: 600px;
    height: auto;
    margin: 30px 0;
    background: #4d4d4d;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chart h3 {
    text-align: center;
    color: rgb(216, 213, 212);
    margin-bottom: 15px;
    font-size: 1.2em;
}

.chartWrapper {
    border-radius: 20px;
    background-color: #666;
    padding: 10px;
}

.loading {
    text-align: center;
    padding: 50px;
    font-size: 1.5em;
    color: rgb(216, 213, 212);
}

.reactionBtn.active {
    color: rgb(252, 74, 88);
    background: #666;
}

.reactionBtn.active .icon {
    color: rgb(252, 74, 88);
}

.reactionBtn {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.reactionBtn:hover {
    background: #eee;
}

.reactions {
    display: flex;
    gap: 15px;
}

.icon {
    font-size: 1.2em;
}

/*.detailsBtn {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 5px;*/
/*    background: #666;*/
/*    color: rgb(216, 213, 212);*/
/*    border: none;*/
/*    padding: 8px 15px;*/
/*    border-radius: 20px;*/
/*    cursor: pointer;*/
/*    transition: background 0.2s;*/
/*}*/

/*.detailsBtn:hover {*/
/*    background: #eee;*/
/*}*/

/*.filtersContainer {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: flex-start;*/
/*    gap: 20px;*/
/*    padding: 20px;*/
/*    background-color: rgb(45, 45, 45);*/
/*    color: rgb(216, 213, 212);*/
/*}*/

/*.filtersDropdown {*/
/*    position: relative;*/
/*}*/

/*.dropdownToggle {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 5px;*/
/*    padding: 10px 15px;*/
/*    background-color: #4d4d4d;*/
/*    color: rgb(216, 213, 212);*/
/*    border: none;*/
/*    border-radius: 20px;*/
/*    cursor: pointer;*/
/*    font-size: 16px;*/
/*}*/

/*.dropdownToggle:hover {*/
/*    background-color: #666;*/
/*}*/

/*.dropdownContent {*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*    padding: 15px;*/
/*    background-color: #4d4d4d;*/
/*    border-radius: 20px;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
/*    z-index: 10;*/
/*}*/

/*.tagsList {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 8px;*/
/*}*/

/*.tagItem {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 8px 12px;*/
/*    background-color: #666;*/
/*    border-radius: 20px;*/
/*    cursor: pointer;*/
/*    color: rgb(216, 213, 212);*/
/*}*/

/*.tagItem.selected {*/
/*    background-color: rgb(252, 74, 88);*/
/*}*/

/*.removeIcon {*/
/*    margin-left: auto;*/
/*    cursor: pointer;*/
/*}*/

/*.resetButton {*/
/*    padding: 8px 12px;*/
/*    background-color: rgb(252, 74, 88);*/
/*    color: rgb(216, 213, 212);*/
/*    border: none;*/
/*    border-radius: 20px;*/
/*    cursor: pointer;*/
/*    font-size: 14px;*/
/*}*/

/*.resetButton:hover {*/
/*    background-color: #ff4757;*/
/*}*/

/*.noResults {*/
/*    color: rgb(216, 213, 212);*/
/*    font-size: 18px;*/
/*    margin-top: 20px;*/
/*}*/

/*!*.postsList {*!*/
/*!*    list-style: none;*!*/
/*!*    padding: 0;*!*/
/*!*    margin: 0;*!*/
/*!*    display: flex;*!*/
/*!*    flex-direction: column;*!*/
/*!*    gap: 20px;*!*/
/*!*}*!*/

/*!*.post {*!*/
/*!*    background-color: #4d4d4d;*!*/
/*!*    padding: 15px;*!*/
/*!*    border-radius: 4px;*!*/
/*!*}*!*/

/*!*.postTitle {*!*/
/*!*    color: rgb(216, 213, 212);*!*/
/*!*    margin: 0 0 10px 0;*!*/
/*!*}*!*/

/*!*.postBody {*!*/
/*!*    color: rgb(216, 213, 212);*!*/
/*!*    margin: 0 0 15px 0;*!*/
/*!*}*!*/

/*!*.reactionsNavContainer {*!*/
/*!*    display: flex;*!*/
/*!*    justify-content: space-between;*!*/
/*!*    align-items: center;*!*/
/*!*}*!*/

/*!*.reactions {*!*/
/*!*    display: flex;*!*/
/*!*    gap: 10px;*!*/
/*!*}*!*/

/*!*.reactionBtn {*!*/
/*!*    display: flex;*!*/
/*!*    align-items: center;*!*/
/*!*    gap: 5px;*!*/
/*!*    padding: 5px 10px;*!*/
/*!*    background-color: #666;*!*/
/*!*    color: rgb(216, 213, 212);*!*/
/*!*    border: none;*!*/
/*!*    border-radius: 4px;*!*/
/*!*    cursor: pointer;*!*/
/*!*}*!*/

/*!*.reactionBtn.active {*!*/
/*!*    background-color: rgb(252, 74, 88);*!*/
/*!*}*!*/

/*!*.detailsBtn {*!*/
/*!*    display: flex;*!*/
/*!*    align-items: center;*!*/
/*!*    gap: 5px;*!*/
/*!*    padding: 5px 10px;*!*/
/*!*    background-color: #666;*!*/
/*!*    color: rgb(216, 213, 212);*!*/
/*!*    border: none;*!*/
/*!*    border-radius: 4px;*!*/
/*!*    cursor: pointer;*!*/
/*!*}*!*/

/*!*.detailsBtn:hover {*!*/
/*!*    background-color: rgb(252, 74, 88);*!*/
/*!*}*!*/


